<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Planner Management System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>

<div class="container my-2">
    <h1>Welcome to your planner! </h1>

    <a th:href = "@{/showNewTaskForm}" class="btn btn-info btn-sm mb-3"> Add Task </a>

    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=date&sortDir=' + ${reverseSortDir}}">
                    Today's date </a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=task&sortDir=' + ${reverseSortDir}}">
                    Tasks </a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=notes&sortDir=' + ${reverseSortDir}}">
                    Notes </a>
            </th>
            <th> Actions </th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="planner : ${listTasks}">
            <td th:text="${planner.date}"></td>
            <td th:text="${planner.task}"></td>
            <td th:text="${planner.notes}"></td>
            <td> <a th:href="@{/showFormForUpdate/{id}(id=${planner.id})}" class="btn btn-warning">Update</a>
                <a th:href="@{/deleteTask/{id}(id=${planner.id})}" class="btn btn-danger">Delete</a>
                <a th:href="@{/completeTasks/{id}(id=${planner.id})}" class="btn btn-success">Complete</a>

            </td>
        </tr>
        </tbody>
    </table>

    <div th:if = "${totalPages > 1}">
        <div class = "row col-sm-10">
            <div class = "col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class = "col-sm-1">
     <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
     </span>
            </div>
            <div class = "col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>